{% extends 'base.html' %}

{% block title %}
    {{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
        </nav>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </main>
{% endblock content %}


{% comment %} <!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>
            {{ recipe_object.title }} - Scrumptious Recipes
        </title>
        <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    </head>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                <header>
                    <nav>
                        <a href="{% url 'recipe_list' %}">Main Page</a>
                    </nav>
                </header>
                <main>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button>Create</button>
                      </form>
                </main>
            </div>
            <footer id="footer">Made with love by Scrumptious Recipes</footer>
        </div>
    </body>
</html> {% endcomment %}
