{% extends 'base.html' %}

{% block title %}
    {{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page </a>
            <a href="{% url 'create_recipe' %}">Create a Recipe </a>
            {% comment %} <a href="{% url 'edit_recipe' %}">Edit Recipe</a> {% endcomment %}
            <a href="edit">Edit Recipe</a>
        </nav>
    </header>
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <p>{{ recipe_object.created_on|date:"F d Y" }}</p>
        <img src="{{ recipe_object.picture }}">
        <div>4.3 stars</div>
        <p>{{ recipe_object.description }}</p>
        <h2>Ingredients</h2>
        <table class="ingredients-table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food Item</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td> {{ ingredient.food_item }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            {% for step in recipe_object.steps.all %}
                <li>{{ step.instruction }}</li>
            {% endfor %}
        </ol>
    </main>
{% endblock content %}


{% comment %} <!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>
            {{ recipe_object.title }} - Scrumptious Recipes
        </title>
        <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    </head>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                <header>
                    <nav>
                        <a href="{% url 'recipe_list' %}">Main Page </a>
                        <a href="{% url 'create_recipe' %}">Create a Recipe </a>
                        <a href="edit">Edit a Recipe</a>
                    </nav>
                </header>
                <main>
                    <h1>{{ recipe_object.title }}</h1>
                    <img src="{{ recipe_object.picture }}">
                    <div>4.3 stars</div>
                    <p>{{ recipe_object.description }}</p>
                </main>
            </div>
            <footer id="footer">Made with love by Scrumptious Recipes</footer>
        </div>
    </body>
</html> {% endcomment %}
