{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipe
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>

            {% comment %} Add sign-up link {% endcomment %}
            {% if user.is_authenticated %}
                Hello, {{ user.username }}
                <a href="{% url 'my_recipe_list' %}">My recipes</a>
                <a href="{% url 'create_recipe' %}">Create a recipe</a>
                <a href="{% url 'user_logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'signup' %}">Sign up</a>
                <a href="{% url 'user_login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1>Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
        <div class="recipe-items">
            {% for recipe in recipe_list %}
                <div class="{% cycle 'r1' 'r2' 'r3' %}">
                    <h3>
                        <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                    </h3>
                    <p><small>{{ recipe.created_on|date:"d M Y" }}</small></p>
                    <img src={{ recipe.picture }}>
                    <div>4.3 stars</div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}


{% comment %} <!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>Scrumptious Recipes</title>
        <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    </head>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                <header>
                    <nav>
                      <a href="{% url 'recipe_list' %}">Main page</a>
                      <a href="{% url 'create_recipe' %}">Create a recipe</a>
                    </nav>
                  </header>
                <main>
                    <h1>Scrumptious Recipes</h1>
                    <h2>All the food that's fit to eat</h2>
                    <div class="recipe-items">
                        {% for recipe in recipe_list %}
                        <div>
                            <h3>
                                <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                            </h3>
                            <p><small>{{ recipe.created_on|date:"d M Y" }}</small></p>
                            <img src={{ recipe.picture }}>
                            <div>4.3 stars</div>
                        </div>
                        {% endfor %}
                    </div>
                </main>
            </div>
            <footer id ="footer">Made with love by Scrumptious Recipes</footer>
        </div>
    </body>
</html> {% endcomment %}
