body {
    padding: 0px;
    margin: 0px;
}

main {
    padding: 16px 16px 24px 16px;
}

footer {
    padding: 16px 0px;
}

nav a:hover {
    background-color: #B4CF66;
}

a {
    text-decoration: none;
}

nav a:link {
    color: white;
}

nav a:visited {
    color: white;
}

a:visited {
    color: #44803F;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }


#content-wrap {
    padding-bottom: 5rem;  /* Footer height + margin + padding */
  }


#footer {
    position: absolute;
    background-color: #B4CF66;
    bottom: 0;
    padding-top: 2rem;
    padding-left: 2rem;
    vertical-align: middle;
    margin-bottom: 1rem;
    width: 100%;
    height: 2rem;   /* Footer height */
  }


img {
    height: 200px;
}

table.ingredients-table > tbody > tr:nth-child(even) {
    background-color: lightgray;
}

main > h1 {
    color: #146152;
}

h3 > a {
    color: #44803F;
}

nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    border-bottom: 1px solid black;
    background-color: #FF5A33;
    color: white;
    padding: 16px;
}

.recipe-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
}

.r3 {
    background-color: rgb(253, 255, 130);
}
